* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f9f9f9; /* Sanftes Grau als Hintergrund */
    line-height: 1.6;
}

#ma {
    margin-left: 700px;
}


#tournament-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, #e4f5e9, #ffffff);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.tournament-form {
    width: 550px;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #e0e0e0;
}

#tournament-title {
    text-align: center;
    color: #2c3e50;
    font-size: 2.8rem;
    margin-bottom: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tournament-form input {
    width: 100%;
    padding: 12px;
    font-size: 1.1rem;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    background-color: #f7f7f7;
    color: #333;
    transition: all 0.3s ease;
}

.tournament-form input::placeholder {
    color: #aaa;
    font-style: italic;
}

.tournament-form input:focus {
    outline: none;
    border-color: #4CAF50;
    background-color: #ffffff;
    box-shadow: 0 0 6px rgba(76, 175, 80, 0.3);
}

#add-tournament-button {
    width: 100%;
    padding: 15px;
    background: linear-gradient(to right, #4CAF50, #45a049);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 0.3s ease;
}

#add-tournament-button:hover {
    background: linear-gradient(to right, #45a049, #3e8e41);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


@media (max-width: 600px) {
    #tournament-title {
        font-size: 2.2rem;
    }

    .tournament-form {
        padding: 20px;
    }

    .tournament-form input {
        padding: 10px;
    }

    #add-tournament-button {
        padding: 12px;
    }
}
